@model Music.Models.Playlist
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Playlist</h4>
    <hr />
    <dl class="dl-horizontal">

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlaylistID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
