@{
    ViewBag.Title = "Home Page";
}
<body>
    <div class="jumbotron" style="background:#00ffff !important">
        <h1><span class="glyphicon glyphicon-headphones"></span>The Ultimate Music Store</h1>
        <p><a href="~/Playlists/Index" class="btn btn-primary btn-lg">New: Playlists! &raquo;</a></p>
        <p class="lead">Minh's Groove Tube </p>

    </div>

    <div class="row">

        <div class="col-md-4">
            <h2>Albums</h2>
            <p><a href="~/Albums/Index" class="btn btn-primary btn-lg" style="background-color: red">Show Album List &raquo;</a></p>
        </div>


        <div class="col-md-4">
            <h2> Genres</h2>
            <p><a href="~/Genres/Index" class="btn btn-primary btn-lg" style="background-color: red">Browse by Genre &raquo;</a></p>
        </div>

        <div class="col-md-4">
            <h2>Artists</h2>
            <p><a href="~/Artists/Index" class="btn btn-primary btn-lg" style="background-color: red">Browse by Artist &raquo;</a></p>
        </div>

    </div>



</body>